.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
background-color:rgba(26, 11, 46, 1) ;max-width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items:center;
padding: 16px 200px;


}
#menu-check{
    display: none;
}
.menu-icon{
    display: none;
}
.text{
    width: 219px;
    height: 32px;
}
.teach{
color: #FFFFFF;
font-size: 2rem;
font-weight: 700;
}
.wave{
font-size: 2rem;
background:linear-gradient(to right, #9100f8,#FB09B4,#F7E93F) ;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent ;
background-clip: text;
font-weight: 700;



}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;

}
.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
.nav-links li a:hover{
    color: #FFFFFF;

}
.btn{
background:linear-gradient(to right, #9100f8,#FB09B4,#F7E93F) ;
background-clip: border-box;
border-radius: 50px;
padding: 10px 25px;
text-decoration: none;
font-weight: 600;
border: 1px solid;
color:white;

    
}
.nav-button{
    color: #FFFFFF;
}





.hero{
  background: url("../assets/hero-bg.png") no-repeat center/cover;
 min-height: 100vh;
 width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content{
  text-align: center;
}


.circle{
  position: relative;
  width: 320px;
  margin: auto;
  
}
.circle-img{
    width: 100%;
}


.mic{
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.badge{
  position: absolute;
  top:13px;
  right: 26px;
  background: #00ff99;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
}
.paragraph {
    color: #FFFFFF; 
}
.paragraph-1{
color:#FFFFFF;
font-size: 10px;
opacity:0.6;
}



.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    
    
}
.btn-11{
background:linear-gradient(to right, #9100f8,#FB09B4,#F7E93F) ;
color: #FFFFFF;
padding: 12px 25px;
border-radius: 50px;
text-decoration: none;
font-weight: 700;
display: flex;
align-items: center;
gap: 10px;
border: 1px solid #0a0515;

}
.btn-22{
color:#00ff99;
padding: 12px 25px;
border-radius: 50px;
text-decoration: none;
font-weight: 700;
display: flex;
align-items: center;
gap: 10px;
background: none;
border: 1px solid #00ff99;


}






.about-section2{
  padding: 15px 0;
  background:rgba(26, 11, 46, 1);
  color:#FFFFFF;

}

.about-container2{
  max-width:1100px;
  margin:auto;
  text-align:center;
}

.about-title{
  font-size: 42px;
  font-weight:700;
  margin-bottom:30px;
}

.about-desc{
  max-width:750px;
  margin:0 auto 16px;
  line-height:1.7;
  color:#cfcfcf;
  font-size: 14px;
  opacity: 0.7;
}

.about-sub{
  margin-bottom:50px;
  color:#b5b5b5;
  font-size: 14px;
  opacity: 0.7;
}

.about-stats{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:40px;
}

.stat h3{
  font-size:42px;
  color:#2bff88;
}

.stat span{
  font-size:14px;
  letter-spacing:1px;
  color:#aaa;
}
.divide{
    border: none;
    height: 1px;
    background-color: #FFFFFF;
    margin: 40px 0;
    opacity: 0.2;
}






.why-section {
    background: linear-gradient(180deg, #1a0e2e 0%, #0a0515 100%);
    padding: 80px 20px;
}

.why-title {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 700;
}

.why-grid {
    display: grid;
    max-width: 1200px;
    
    margin: 0 auto;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat( 3,auto);
    gap: 20px;
    padding: 0 20px;
  
}


.card-1 {
    grid-column: 1;
    grid-row:1/3;
}


.card-2 {
    grid-column:2 / 4;
    grid-row: 1 ;
}


.card-3 {
    grid-column: 2 /4;
    grid-row: 2;
}


.card-4 {
    grid-column: 1/3;
    grid-row: 3;
}


.card-5 {
    grid-column: 3;
    grid-row: 3;
}


.why-card {
    background: linear-gradient(135deg, #4a2c7c 0%, #2d1a5e 100%);
    padding: 30px;
    border-radius: 24px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    gap: 10px;
    height: 100%;
}

.why-card:hover {
    transform: translateY(-5px);
}

.why-card .icon {
    width: 40px;
    height: 40px;
    margin-bottom:5px;
    object-fit: contain;

    
  
}

.why-card h3 {
    font-size: 1.4rem;
    font-weight: 700;
     margin: 0;
    color: #fff;
}

.why-card p {
    font-size:0.95rem;
    line-height: 1.5;
    color:#aaa;
    opacity: 0.5;
    
}





.featured-section {
    background-color: #0d061a;
    padding: 80px 20px;
    text-align: center;
}

.featured-title {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.episode-card {
    background: #1a0e2e;
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.video-holder {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
}

.video-holder iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.episode-details {
    padding: 25px;
}

.episode-details h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 12px;

}

.episode-details p {
    color: #aaa;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 22px;
    opacity: 0.5;
}

.duration {
    color: #4ade80;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 8px;
    
    line-height: 1;


}

.duration img{
    display: block;
    width: 16px;
    height:16px ;
    object-fit: contain;
    display: block;
}

.section-meet{
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 35px;
}


.host-section {
    padding: 80px 20px;
    background-color: #0d061a;
    text-align: center;

}

.host-card {
    background: linear-gradient(135deg, #1a0e2e 0%, #110821 100%);
    max-width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.host-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%; 
    object-fit: cover;
}

.host-content h3 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.host-content p {
    color: #aaa;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0.5;
}

.host-socials {
    display: flex;
    gap: 15px;
}

.host-socials a {
    width: 40px;
    height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   background:rgba (147,51,234,0.35);
   text-decoration: none;
   border: 1px solid  #FB09B4;

}

.host-socials a:hover {
     background:rgba (147,51,234,0.6);
    transform: translate(-3px);
    
}

.host-socials img {
    width: 20px;
    height: 20px;
}



.main-footer {
    position: relative;
    width: 100%;
    background-image: url(../assets/footer-bg.png);
    padding:120px 120px 120px 120px;
     overflow: hidden;
    text-align: center;
}
    


.teach1{
    color: #FFFFFF;
font-size: 65px;
font-weight: 800;
margin-bottom: 10px;
}
.wave1{
font-size: 65px;
background:linear-gradient(to right, #9100f8,#FB09B4,#F7E93F) ;
-webkit-background-clip: text;
-webkit-text-fill-color:transparent ;
background-clip: text;
font-weight: 800;
margin-bottom: 10px;



}




.social-links {
    display: flex; justify-content: center;
    gap: 30px; margin: 30px 0;align-items: center;
}

.social-links a {
    color: #ddd; text-decoration: none;
    display: flex; 
    align-items: center;
     gap: 8px; 
     font-size: 14px;
}

.copyright { color: #555; font-size: 0.8rem; }




@media screen and (max-width:576px)       {
    .container{
        padding: 15px 20px !important;
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }
.text{

    width: auto  !important;
    height: auto;
}
.teach , .wave {
    font-size: 24px;
}
.nav-button{
    display: none;
}

    .menu-icon{
        display: block;
    }
    .menu-button{
        display: none;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        gap: 0;
        text-align: center;
        z-index: 100;
        background-color: #aaa;

    }
    .nav-links li{
        padding: 15px 0;
        
    }
    #menu-check:checked ~ .nav-links{
        max-height: 300px;
    }
    





.hero{
    display: block !important;
    padding-top: 80px;
    height: auto !important;
    min-height: auto !important;
    padding-top:40px ;
    padding-bottom: 50px;

}
.about-section2{
    padding: 50px 15px;
}
.about-stats{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px 20 px;
}
  .why-title{
    font-size: 26px;

  }
  .why-grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .featured-title{
    font-size: 26px;
    margin-bottom: 30px;
  }
  .episodes-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }



  .section-meet{
    font-size: 32px;
    font-weight: 600;
  }
  .host-card{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 30px 20px ;
    margin: 0 15px;
    text-align: center;
  }
  .host-content{
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
 .host-socials {
    display: flex !important;
    justify-content: center;
    gap: 15px;

 }

.social-links{
    display: grid;
    grid-template-columns: repeat(2 ,auto);
    gap: 15px 25px;
    justify-content: center;
}
.main-footer{

    padding: 40px 15px;
    background-size: cover;
    background-position: center;
    
    
}
.teach1,.wave1{
    font-size: 30px;
}








  }
  
  